body {
    background-color: black;
}

.main {
    background-image: url(.//imges/bg.jpg);
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.box {
    height: 100vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 10px;
    position: relative;
    z-index: 10;
    padding: 40px;
}

nav img {
    width: 114px;
    position: relative;
    z-index: 10;
}

.hero {
    @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
    height: 70px;
    font-family: "Martel Sans", sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    padding: 23px;
    text-align: center;
    font-weight: 900;
    color: white;
    position: relative;
    z-index: 10;
}

.sh {
    font-size: 19px;
    text-align: center;
}

.sep {
    height: 3px;
    background-color: rgb(64, 64, 64);
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: white;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.red-btn {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

/* First Section Layout */
.first {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    max-width: 90vw;
    margin: auto;
}

/* Text Container */
.text-con {
    max-width: 450px;
    font-size: 18px;
    text-align: left;
    padding-right: 20px;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

/* .text-con span:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
} */

/* 

.text-con span:last-child {
    font-size: 1.2rem;
    margin-bottom: 20px;
    display: block;
} */

/* TV Image and Video */
.secImg {
    position: relative;
    width: 450px;
    margin-right: 20px;
}

.secImg img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
}

.secImg video {
    width: 80%;
    position: absolute;
    top: 12%;
    left: 10%;
    height: 72%;
    z-index: 1;
}
h2 {
    text-align: center;
    font-size: 48px;
    color: white;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #212121;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}
.faqbox svg{
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #393939;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}
@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 351px;
    }

    .secImg video {
        width: 305px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}


@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}
